<div id="title">
    <h1><a href="/">{{ site.name }}</a></h1>
    <div class="titleWrap">
        <div id="rhulLogo">
            <img src="/images/logo-small-london-cmyk.jpg" alt="">
        </div>
        <p>
            PhD Student, Bioinformatics<br>
            Department of Computer Science
            <br>
            Royal Holloway, University of London
        </p>
    </div>
    <hr>
    <span class="credits left">Blog: <a href="https://blog.torresmateo.com/">blog.torresmateo.com</a></span>
    <span class="credits right">twitter: <a href="http://twitter.com/#!/torresmateo">torresmateo</a></span>
</div>

